<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>

    <ion-title>
      BUHO EPN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <section text-center>
    <h1 class="ion-text-center" style="font: size 1.9em">Menu</h1>
  </section>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card text-center color="danger" href="/main/tabs/tab1">
          <h2 class="ion-text-center">Noticias</h2>
          <img  src="/assets/avatars/periodico.png" alt="">
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card text-center color="danger" href="/main/tabs/login">
          <h2 class="ion-text-center">Salir</h2>
        <img src="/assets/avatars/logout.png" alt="">
        </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>