<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-center">
      BUHO EPN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <section text-center>
    <h1 class="ion-text-center" style="font: size 1.9em">Menu</h1>
  </section>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card text-center color="danger" href="/main/tabs/tab1">
          <h2 class="ion-text-center">Noticias                      <br></h2>
          <img  src="/assets/avatars/periodico.png" alt="">
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card text-center color="danger">
          <h2 class="ion-text-center">Perfil<br></h2>
          <img  src="/assets/avatars/usuario.png" alt="">
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="danger" href="/main/tabs/tab2">
          <h2 class="ion-text-center">Crear una pulicación <br></h2>
          <img src="/assets/avatars/add-file.png" alt="">
        </ion-card>
      </ion-col>
      <ion-col>
          <ion-card text-center color="danger" href="/emergencias">
            <h2 class="ion-text-center">Problemas y emergencias</h2>
          <img src="/assets/avatars/problema.png" alt="">
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>