<ion-header>
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
    <ion-grid fixed>

      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          
            <ion-list>
              
              <ion-item>
                <ion-label>Email</ion-label>
                <ion-input name="email"
                            #emailRecuperacion
                            type="email"
                            required></ion-input>
              </ion-item>

            </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="onResetPassword( emailRecuperacion )">
            Recuperar
          </ion-button>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <p class="ion-text-end">
            <a  href="/login">Regresar</a>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
