<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button
                  color="primary"
                  href="/menu">
        Regresar
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      BUHO EPN
    </ion-title>
  </ion-toolbar>

  <ion-segment>
    <ion-toolbar>
      <ion-searchbar  placeholder="Buscar publicación"
                      animated
                      debounce="700"
                      [value]="textoBuscar"
                      (ionChange)="buscar( $event )">
    
      </ion-searchbar>
    </ion-toolbar>
  </ion-segment>

<ion-segment scrollable value="Noticias">
  <ion-segment-button mode="md"
                      *ngFor = "let tipo of usuario.grupos"
                      [value]="tipo"
                      (click) = "EncabeadoCategoria(tipo)">                      
    <ion-label text-capitalize>{{tipo}}</ion-label>
  </ion-segment-button>
</ion-segment>

</ion-header>

<ion-content color="light">
   
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="recargar( $event )">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  

  <!-- Posts -->
   <app-posts [publicaciones]="publicaciones"></app-posts>

</ion-content>
